[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
autopep8 = "*"
flake8 = "*"
flootty = "*"
isort = "*"
jedi = "*"
neovim = "*"
pep8 = "*"
yapf = "*"
black = "*"

[requires]
python_version = "3.6"
